<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Tracker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Job Application Tracker</h1>
        <table>
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Position</th>
                    <th>Status</th>
                    <th>Applied On</th>
                    <th>Actions</th>
                </tr> 
            </thead>
            <tbody> 
                {% for job in jobs %}
                <tr>
                    <td>{{ job.company_name }}</a></td>
                    <td>{{ job.job_title }}</td>
                    <td>{{ job.status }}</td>
                    <td>{{ job.application_date }}</td>

                    <td>
                        <a href="{% url 'application_detail' job.id %}" class="btn no-link-style">View Details</a>

                        <a href="{% url 'update_status' job.id %}" class="btn no-link-style">Update Status</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'add_job' %}" class="btn">Add New Job Application</a>
    </div>
</body>
</html>
