body {
    font-family: Arial, sans-serif;
    background-color: #0D1B2A; 
    color: #E0E1DD; 
}

.container {
    width: 80%;  
    margin: 20px auto;
    padding: 20px;
    background-color: #1B263B; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1, h2 {
    text-align: center;
    color: #778DA9; 
    margin-bottom: 20px;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #415A77; /* Table border color */
    text-align: left;
}

th {
    background-color: #1B263B; /* Table header background */
    color: #E0E1DD; /* Header text color */
}

tr:nth-child(even) {
    background-color: #415A77; /* Even row color */
}

tr:hover {
    background-color: #778DA9; /* Hover effect color */
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #2EC4B6; /* Button background */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3; /* Button hover effect */
}

/* Responsiveness */
@media only screen and (max-width: 600px) {
    input, select, textarea {
        font-size: 14px;
        padding: 8px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 14px;
    }

    a {
        font-size: 14px;
    }
}


/* for add_job */

input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #415A77; /* Border color */
    border-radius: 5px;
    background-color: #1B263B; /* Input background color */
    color: #E0E1DD; /* Input text color */
}

input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus {
    border-color: #2EC4B6; /* Focus border color */
    outline: none;
}

label {
    color: #E0E1DD; /* Label text color */
    display: block; /* Ensures labels are above inputs */
    margin-bottom: 5px;
}

/* Styles for making links look like regular text */
.no-link-style {
    text-decoration: none;
    color: inherit; /* Makes the link inherit the text color */
    cursor: pointer;
}


/*  for UPDATE STATUS  */
form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

/* Links */
a {
    display: block;
    margin-top: 15px;
    color: #778DA9;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}

a:hover {
    color: #2EC4B6;
}

a.no-link-style {
    text-decoration: none;
    color: inherit; /* Keeps the link styled like text */
    cursor: pointer;
}